@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu:wght@300&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
}
dance-font{
    font-family: 'Dancing Script',cursive;
}

section
{
background-image:url("image/color3.jpg");
background-repeat:no repeat;
background-size:fixed;
}


.container
{
    width:100%;
    margin:50px auto;
}
.accordian
{
    width:100%;
    text-align:left;
    padding:10px;
    font-size:20px;
}

.accordian-content
{
    height:0px;
    overflow:hidden;
    border:2px solid whitesmoke;
    transition: height 0.9s linear;                                                                                                                                                                                                                                                                                                                                                                                    
}